{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Se connecter {% endblock %}

{% block contenu %}
     <div class="container-fluid ">
    <h1 class="h3 mb-3 font-weight-normal">Menstions Légales de Guy Mollet Shop</h1>
   
 
</div>
{% endblock %} 