{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} En maintenance {% endblock %}


{% block contenu %}
 <div class="container-fluid ">
     
    <h1 id="title">Nous sommes en maintenance</h1>
     <img class="maint" src="images/maint.png" alt="maintenance" >
     <br/>
    <p class="mb-0 fluid-center com"> Dureé de la maintenance</P>
    <h1 class="time"> -- Jours -- H -- Min -- Sec</h1>

</div>
{% endblock %} 