{% extends "baseAdmin.html.twig" %}
{% block title %}
  {{ parent() }}

{% endblock %}
{% block activeAC %}active{% endblock %}
{% block contenu %}
<div class="textcenter mb-3">
  <h3>Idée page jeux de rôle !</h3>
</div>
<div class="row">

  <div class="col-12 	col-sm-12 col-md-6 col-lg-3 col-xl-3 page-col">
    <div class="centerdiv">
      <div class="card box-shadow" style="width: 30em;">
        <img src="http://pierresvives.herault.fr/sites/default/files/styles/evenement_image_fullpage/public/jdr.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Jeux de rôle N°1</h3>
          <p class="card-text">Lorem ipsum dolor sit amet,
            consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <hr>
          <div class="textcenter">
            <a href="#" class="btn-event" data-toggle="modal" data-target="#exampleModal">Voir</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 	col-sm-12 col-md-6 col-lg-3 col-xl-3 page-col">
    <div class="centerdiv">
      <div class="card box-shadow" style="width: 30em;">
        <img src="http://pierresvives.herault.fr/sites/default/files/styles/evenement_image_fullpage/public/jdr.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Jeux de rôle N°2</h3>
          <p class="card-text">Lorem ipsum dolor sit amet,
            consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <hr>
          <div class="textcenter">
            <a href="#" class="btn-event" data-toggle="modal" data-target="#exampleModal">Voir</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 	col-sm-12 col-md-6 col-lg-3 col-xl-3 page-col">
    <div class="centerdiv">
      <div class="card box-shadow" style="width: 30em;">
        <img src="http://pierresvives.herault.fr/sites/default/files/styles/evenement_image_fullpage/public/jdr.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Jeux de rôle N°3</h3>
          <p class="card-text">Lorem ipsum dolor sit amet,
            consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <hr>
          <div class="textcenter">
            <a href="#" class="btn-event" data-toggle="modal" data-target="#exampleModal">Voir</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 	col-sm-12 col-md-6 col-lg-3 col-xl-3 page-col">
    <div class="centerdiv">
      <div class="card box-shadow" style="width: 30em;">
        <img src="http://pierresvives.herault.fr/sites/default/files/styles/evenement_image_fullpage/public/jdr.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Jeux de rôle N°4</h3>
          <p class="card-text">Lorem ipsum dolor sit amet,
            consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <hr>
          <div class="textcenter">
            <a href="#" class="btn-event" data-toggle="modal" data-target="#exampleModal">Voir</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 	col-sm-12 col-md-6 col-lg-3 col-xl-3 page-col">
    <div class="centerdiv">
      <div class="card box-shadow" style="width: 30em;">
        <img src="http://pierresvives.herault.fr/sites/default/files/styles/evenement_image_fullpage/public/jdr.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Jeux de rôle N°5</h3>
          <p class="card-text">Lorem ipsum dolor sit amet,
            consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <hr>
          <div class="textcenter">
            <a href="#" class="btn-event" data-toggle="modal" data-target="#exampleModal">Voir</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 	col-sm-12 col-md-6 col-lg-3 col-xl-3 page-col">
    <div class="centerdiv">
      <div class="card box-shadow" style="width: 30em;">
        <img src="http://pierresvives.herault.fr/sites/default/files/styles/evenement_image_fullpage/public/jdr.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Jeux de rôle N°6</h3>
          <p class="card-text">Lorem ipsum dolor sit amet,
            consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <hr>
          <div class="textcenter">
            <a href="#" class="btn-event" data-toggle="modal" data-target="#exampleModal">Voir</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 	col-sm-12 col-md-6 col-lg-3 col-xl-3 page-col">
    <div class="centerdiv">
      <div class="card box-shadow" style="width: 30em;">
        <img src="http://pierresvives.herault.fr/sites/default/files/styles/evenement_image_fullpage/public/jdr.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Jeux de rôle N°7</h3>
          <p class="card-text">Lorem ipsum dolor sit amet,
            consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <hr>
          <div class="textcenter">
            <a href="#" class="btn-event" data-toggle="modal" data-target="#exampleModal">Voir</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 	col-sm-12 col-md-6 col-lg-3 col-xl-3 page-col">
    <div class="centerdiv">
      <div class="card box-shadow" style="width: 30em;">
        <img src="http://pierresvives.herault.fr/sites/default/files/styles/evenement_image_fullpage/public/jdr.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Jeux de rôle N°8</h3>
          <p class="card-text">Lorem ipsum dolor sit amet,
            consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <hr>
          <div class="textcenter">
            <a href="#" class="btn-event" data-toggle="modal" data-target="#exampleModal">Voir</a>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content box-shadow">
      <div class="card-header-modal">
        <h3 class="card-title" id="exampleModalLabel">Voulez vous supprimer ce auteur ?</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="card-body">
        <p class="card-text">Attention !. Tout les livres qui on pour auteur .....  seront suprimer !</p>
        <hr>
        <div class="textcenter">
          <a href="#" class="btn-event" data-dismiss="modal">Annuler</a>
          <a href="#" class="btn-event-sup">Suprimer</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
