{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} A propos {% endblock %}
{% block contenu %}
    <h1>A propos</h1>


    <center>
        <div><b>Adresse </b><span class="glyphicon glyphicon-home" aria-hidden="true"/>: </div>
        <div>20 rue Émile Legrelle 62000 - Arras</div>
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1274.5715934642676!2d2.7772442971754705!3d50.2892549855121!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47dd49852cbbc2c1%3A0xeb68fbd17ae61116!2sL%C3%A9gendarium+librairie+sp%C3%A9cialis%C3%A9e+arras!5e0!3m2!1sfr!2sfr!4v1555673720935!5m2!1sfr!2sfr" allowfullscreen></iframe>
        <div><b>Téléphone </b><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"/>: 03.03.03.03.03</div>
        <div><b>E-mail </b><span class="glyphicon glyphicon-envelope" aria-hidden="true"/>: contact@legendarium.com</div>
        <div><b>Horaires </b><span class="glyphicon glyphicon-time" aria-hidden="true"/>: </div>
        <div> Du Mardi au Samedi </br> De 10h à 12h30 et de 14h à 19h</div>
        <div><a href="http://www.facebook.com"><img src="../web/images/icon-facebook.png" width="35"/> Notre page Facebook</a></div>
        <div><a href="http://www.twitter.com"><img src="../web/images/icon-twitter.png" width="35"/> Notre page Twitter</a></div>
    </center>
{% endblock %}
