<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/swiper.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  {% block style %}{% endblock %}
  <title>{% block title %}Légendarium -{% endblock %}</title>
</head>

<body style="background-image: url('img/fond.jpg');">
  <nav class="navbar navbar-expand-md navbar-light bg-custom box-shadow box-full">
    <a class="navbar-brand" href="index.php">LegendariuM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item bg-item {% block activeAC %}{% endblock %}"><a class="nav-link" href="index.php">Accueil</a></li>
        <li class="nav-item bg-item {% block activeCA %}{% endblock %}"><a class="nav-link " href="index.php?page=catalogue">Catalogue</a></li>
        <li class="nav-item bg-item {% block activeCT %}{% endblock %}"><a class="nav-link" href="#">Contact</a></li>
      </ul>
      <ul class="navbar-nav ml-auto">
          {% if session.login is defined %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{session.login}}</a>
          <div class="dropdown-menu dropdown-menu-right shadow drop-pos " aria-labelledby="navbarDropdown">
            <a class="dropdown-item " href="#"><i class="fas fa-user mr-3"></i>Paramètres du compte</a>
            {% if session.role == 1 %}
            <a class="dropdown-item " href="index.php?page=administration"><i class="fas fa-sliders-h mr-3"></i>Paramètres d'administration</a>
            {% else %}
            <a class="dropdown-item " href="#"><i class="fas fa-shopping-basket mr-3"></i>Mon Panier</a>
            {% endif %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item " href="index.php?page=deconnexion"><i class="fas fa-sign-out-alt mr-3"></i>Déconnexion</a>

          </div>
        </li>
        {% else %}
          <li class="nav-item bg-item"><a class="nav-link" href="index.php?page=connexion">Connexion</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <div class="page">
    <div class="page-card">
      <div class="row">
        <div class="col-12 	col-sm-12 col-md-12 col-lg-8 col-xl-9 page-col">
          {% block contenu %}
              {% endblock %}
        </div>
        <div class="col-12 	col-sm-12 col-md-12 col-lg-4 col-xl-3 page-col">



          <div class="sticky-top">
            <h3 class="textcenter">Liste des événements</h3>
            <div class="row">
              {% for e in listeevent %}
              <div class="col-12 	col-sm-6 col-md-6 col-lg-12 col-xl-12 page-col">
            <div class="centerdiv">
              <div class="card box-shadow" style="width: 25em;">

                <img src="{{ e.illustration }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title">{{ e.titre }}</h3>
                  <p class="card-text">{{ e.information}}</p>
                  <a href="#" class="btn-event">Voir l'événement</a>
                </div>
              </div>
            </div>
            </div>
            {% else %}
              <div style="margin-top:1em">
                <p class="textcenter">Il n'y à pas d'événement !</p>
              </div>
            {% endfor %}
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="page-footer ">

    <div class="footer-head">
      <div class="container">

        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">

          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0">Connectez-vous avec nous sur les réseaux sociaux !</h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">

            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fab fa-facebook-f white-text mr-4"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fab fa-twitter white-text mr-4"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <i class="fab fa-google-plus-g white-text mr-4"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <i class="fab fa-linkedin-in white-text mr-4"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fab fa-instagram white-text"> </i>
            </a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row-->

      </div>
    </div>

    <!-- Footer Links -->
    <div class="container footer-container text-center text-md-left mt-5">

      <!-- Grid row -->
      <div class="row mt-3 dark-grey-text">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mb-4">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Légendarium</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Légendarium est une librairie spécialisée en littérature de l'imaginaire: Science-Fiction, Fantasy, Fantastique, Thriller... située à Arras</p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Horaires</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p class="dark-grey-text">Lun 	Fermé</p>
          <p class="dark-grey-text">Mar 10:00–12:30, 14:00–19:00</p>
          <p class="dark-grey-text">Mer 10:00–12:30, 14:00–19:00</p>
          <p class="dark-grey-text">Jeu 10:00–12:30, 14:00–19:00</p>
          <p class="dark-grey-text">Ven 10:00–12:30, 14:00–19:00</p>
          <p class="dark-grey-text">Sam 10:00–12:30, 14:00–19:00</p>
          <p class="dark-grey-text">Dim 	Fermé</p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Useful links</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a class="dark-grey-text" href="#!">Your Account</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Become an Affiliate</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Shipping Rates</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Help</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-home mr-3"></i> 20 rue Emile Legrelle 62000 - ARRAS</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> contact@legendarium.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i> + 03 21 51 66 98</p>
          <p>
            <i class="fas fa-print mr-3"></i> + 03 21 51 66 98</p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center text-black-50 py-3">© 2019/2020 Copyright: Mise en avant - Réalisation T.Mendes | T.Lefebvre
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
</body>
<!-- Swiper JS -->
<script src="js/swiper.min.js"></script>
<script>
  var swiper = new Swiper('.swiper-container', {
    effect: 'coverflow',
    grabCursor: true,
    centeredSlides: true,
    slidesPerView: 'auto',
    coverflowEffect: {
      rotate: 35,
      stretch: -100,
      depth: 100,
      modifier: .5,
      slideShadows: true,
    },
    pagination: {
      el: '.swiper-pagination',
    },
  });
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>
