{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Administration {% endblock %}

{% block contenu %}

<div class="panel panel-primary">

        <div class="panel-heading">Modifier un Editeur </div>
         <div class="panel-body">
            <form  class="form-signin" action="index.php?page=modifEditeur" method="post" enctype="application/x-www-form-urlencoded">
                
                <label for="inputLibelle" class="sr-only">Libelle</label>
                <input type="text" id="inputLibelle" name="inputLibelle" class="form-control" value="{{editeur.LibelleEditeur}}" />
                <input type="hidden" name="id" value="{{editeur.IdEditeur}}" />
                <button class="btn btn-lg btn-primary btn-block" type="submit" name="btModifE">Modifier</button>
            </form>
         </div>    
  </div>
{% endblock %} 