{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} utilisateur {% endblock %}

{% block contenu %}
 <div class="container-fluid ">
    
 
    <div class="jumbotron"  id="box">
  <h1 class="display-3" style="color: #fff" >Bonjour</h1>
  <p class="lead">Voici quelque information sur rien</p>
  <hr class="my-4">
 
  


</div>


</div>
{% endblock %} 