{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Administration {% endblock %}

{% block contenu %}

    
    
<div class="panel panel-primary">

        <div class="panel-heading">Modifier un rôle</div>
         <div class="panel-body">
            <form  class="form-signin" action="index.php?page=modifRole" method="post" enctype="application/x-www-form-urlencoded">
                
                <label for="inputLibelle" class="sr-only">Libelle</label>
                <input type="text" id="inputLibelle" name="inputLibelle" class="form-control" value="{{role['libelle']}}" />
                <input type="hidden" name="id" value="{{role['id']}}" />
                <button class="btn btn-lg btn-primary btn-block" type="submit" name="btModif">Modifier</button>
            </form>
            
         </div>    
  </div>
{% endblock %} 